h1 Create Book
form(action="/books/create", method='POST')
    label  Title...........
    input(name="title",type="text")
    br
    br
    label  Description
    input(name="description",type="text")
    br
    br
    br
    button Create